* {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-weight: 500;
    -fx-font-size: 16px;
}

#container {
    -fx-background-color: #FFFFFF;
}

#navbar {
    -fx-background-color: #050505;
}

#nav_item {
    -fx-background-color: #050505;
}

#nav_item.active {
    -fx-background-color: #3375CC;
}

#nav_item:hover {
    -fx-background-color: #F7F7F7;
    -fx-cursor: hand;
}

#nav_item:pressed {
    -fx-background-color: #3375CC;
}

#nav_item_text {
    -fx-fill: #FFFFFF;
}

#nav_item.active #nav_item_text {
    -fx-fill: #FFFFFF;
}

#nav_item:hover #nav_item_text {
    -fx-fill: #050505;
}

#nav_item:pressed #nav_item_text {
    -fx-fill: #FFFFFF;
}

#inputfields {
    -fx-background-color: #050505;
}

#input {
    -fx-background-color: #F7F7F7;
    -fx-text-fill: #3375CC;
}

#add-button {
    -fx-background-color: #3375CC;
    -fx-text-fill: #FFFFFF;
}

#add-button:hover {
    -fx-background-color: #295EA3;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}
